fastapi
uvicorn
sqlalchemy
pymysql
passlib[bcrypt]
python-jose
python-multipart
pinecone
numpy
langchain
langchain_huggingface
requests
langchain-community
langchain-openai
sentence-transformers
pypdf
pydantic
torch
pydantic[email]
uuid
bcrypt==4.0.1
passlib==1.7.4